.event {
  position: absolute;
  width: 250px;
  padding: 30px;
  border: 3px solid #fff;
  border-radius: 10px;
  transition: top 2s ;
  transform: translate3d(0, 0, 0);
}

.event {
  animation: event-down 2s infinite;
  animation-delay: var(--animation-delay);
}

.event h3 {
  margin-top: 0;
}

.event > span,
.event p {
  display: inline-block;
  width: 100%;
}

.event > span {
  margin-bottom: 5px;
  font-size: 14px;
}

.event p {
  margin-bottom: 0;
  font-size: 12px;
}

.event .fa-map-marker {
  margin-right: 3px;
}

.event .fa-calendar {
  margin-right: 1px;
}


@keyframes event-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0%);
  }
}

.event:after, .event:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.event:after {
  border-width: 11px;
	margin-left: -11px;
  border-color: rgba(0, 0, 0, 0);
}

.event:before {
  border-radius: 10px;
	border-width: 16px;
	margin-left: -16px;
  border-color: rgba(255, 255, 255, 0);
}

.event--up:after, .event--up:before {
  top: 100%
}

.event--up:before {
  border-top-color: #ffffff;
}

.event--up:after {
  border-top-color: #000000;
}

.event--down:after, .event--down:before {
  bottom: 100%
}

.event--down:before {
  border-bottom-color: #ffffff;
}

.event--down:after {
  border-bottom-color: #000000;
}
