header {
  width: 100%;
  position: absolute;
  padding: 15px;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9;
}

.title {
  font-size: 20px;
  margin-top: 5px;
}

.links {
  margin-left: auto;
}

.links a {
  color: #fff;
  text-decoration: none;
  margin-left: 12px;
}
