.player {
  display: inline-block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  z-index: 9;
  transform: translateY(-20px);
}

.player--left {
  animation: player-animation-left .6s steps(4) infinite;
}

.player--right {
  animation: player-animation-right .6s steps(4) infinite;
}

@keyframes player-animation-left {
  0% {
    background-position: 0px -64px;
  }

  100% {
    background-position: -256px -64px;
  }
}

@keyframes player-animation-right {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -256px 0px;
  }
}
