.player {
  display: inline-block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left top;
}

.player--left {
  animation: player-animation-left .6s steps(3) infinite;
}

.player--right {
  animation: player-animation-right .6s steps(3) infinite;
}

@keyframes player-animation-left {
  0% {
    background-position: 0px -96px;
  }

  100% {
    background-position: -96px -96px;
  }
}

@keyframes player-animation-right {
  0% {
    background-position: 0px -32px;
  }

  100% {
    background-position: -96px -32px;
  }
}
