.timeline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeline-events {
  position: relative;
  width: 100%;
  transition: transform .1s;
}

.timeline-player {
  width: 100%;
  height: 64px;;
  text-align: center;
  background: green;
  position: relative;
}

.timeline-player:before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 2px dashed #fff;
  position: absolute;
  left: 0;
  bottom: 32px;
}
