.timeline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeline-events {
  position: relative;
  width: 100%;
}

.timeline-controls {

}

.timeline-player {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #fff;
}
