.timeline {
  width: 100%;
}

.timeline-events {
  position: relative;
  width: 100%;
}

.timeline-controls {

}

.timeline-player {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #fff;
}
